html, body {
  background-color: #21232A;
  color: aliceblue;
  font-family: Helvetica, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}


button {
  padding: 10px 15px;
  font-size: 1.3rem;
  margin-right: 10px;
  border-radius: 5px;
}